<div class="componentWrapper">
  <h2 id="dataTitle">
    Data Overview <span>{{ this.overview }}</span>
  </h2>
  <div class="stockInfoContainer">
    <div class="innerInfoItem" id="stockDataOne">
      <div class="leftData">
        <h4>
          Symbol:
          <span class="infoData" id="stockSymbol">{{
            this.stockOne.symbol
          }}</span>
        </h4>
        <h4>
          Current Price:
          <span class="infoData" id="priceColor"
            >${{ this.stockOne.price }}</span
          >
        </h4>
        <h4>
          Volume:
          <span class="infoData" id="stockVolume">{{
            this.stockOne.volume
          }}</span>
        </h4>
      </div>
      <div>
        <canvas
          baseChart
          [chartType]="'bar'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          (chartClick)="onChartClick($event)"
        >
        </canvas>
      </div>
    </div>
    <div class="innerInfoItem" id="stockDataTwo">
      <div class="leftData">
        <h4>
          Symbol:
          <span class="infoData" id="stockSymbol">{{
            this.stockTwo.symbol
          }}</span>
        </h4>
        <h4>
          Current Price:
          <span class="infoData" id="priceColor"
            >${{ this.stockTwo.price }}</span
          >
        </h4>
        <h4>
          Volume:
          <span class="infoData" id="stockVolume">{{
            this.stockTwo.volume
          }}</span>
        </h4>
      </div>
      <div>
        <canvas
          baseChart
          [chartType]="'bar'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          (chartClick)="onChartClick($event)"
        >
        </canvas>
      </div>
    </div>
  </div>
  <h2 id="dataTitle">Detail View</h2>
  <div>
    <h4 id="toggleTitle">Click To Toggle Chart</h4>
    <canvas
      baseChart
      [chartType]="'line'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      (chartClick)="onChartClick($event)"
    >
    </canvas>
  </div>
</div>
