@import "./src/app/scss/main";

.stockInfoContainer {
  display: flex;
  flex-direction: row;
  color: white;
  width: 40%;

  #stockDataOne {
    border: solid 1px #ff6384;
  }
  #stockDataTwo {
    border: solid 1px #36a2eb;
  }

  .innerInfoItem {
    margin: 10px 10px;
    padding: 10px 10px;
    width: 100%;

    .infoData {
      font-size: 30px;
      font-weight: 400;
    }
    #priceColor {
      color: #00ca7d;
    }
  }
}
#toggleTitle {
  text-align: center;
  color: white;
  margin: 0;
}
