@import "./src/app/scss/main";

.titleContainer {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
