<div class="componentWrapper">
  <div class="titleContainer">
    <h1>Compare Stock Market Data</h1>
    <p>
      Enter 2 stock symbols below to view charts based on their price history
    </p>
  </div>
  <div class="inputContainer">
    <input #stockOne placeholder="Stock One Ex: MU" id="inputLeft" />
    <input #stockTwo placeholder="Stock Two Ex: CSCO" id="inputRight" />
    <select #stockRange id="selectData">
      <option value="default">Select Range</option>
      <option value="intraDay">Intraday</option>
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="month">Month</option>
    </select>
  </div>
  <div class="buttonWrapper">
    <button
      (click)="sendStockData(stockOne.value, stockTwo.value)"
      id="submitData"
    >
      View Charts
    </button>
  </div>
</div>
